@import '../../../style/mixins';

.user-profile {
  min-height: 83vh;
  &__header {
    color: #fff;
    margin-bottom: 2rem;
  }

  &__account {
  }

  &__form {
    .input-edit {
      border-radius: 0.1em;
      border: 2px solid #00bc77;
      margin: 0 5px;
      padding: 5px 7px;
    }
  }
}

.user-profile .accounts {
  &__item {
  }
}

.edit-button {
  @include Button(#00bc77);
}
.cancel-button {
  @include Button(rgb(192, 0, 0));
}
